body{
background: rgb(5,14,127);
background: radial-gradient(circle, rgba(5,14,127,1) 0%, rgba(29,0,103,1) 25%, rgba(0,34,36,1) 100%);
}

.app{
/*	display:flex;
	flex-flow:column;
	justify-content: space-between;
	align-items:center;
	min-height: 100vh;*/
	font-family: 'Source Code Pro', monospace;
}

.particles{
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:-1;
}

.banner{
	font-family: 'Monoton',cursive;
	cursor:default;
}

.box {
	min-height: 450px;
	/*min-width: 400px;*/
}